header {
    background-color: black;
    text-align: center; 
    color: white;
    padding: 8px 20px;   
}
section{
    height: 50vh;
}
#hello {
    background-color: red;
     color: white;
}
footer{
    background-color: grey;
    text-align:center;
    padding: 4px 20px;
}